# Default ignored files
/shelf/
/workspace.xml
workspace.xml
/Users/pep_c/Documents/algorithm/book/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
